.bg-black{
    background-color: black;
}

.overlay-background{
    background-color: black;
    opacity: 0.7;
}


@font-face {
    font-family: Didot;
    src: url("Fonts/Didot LT Std Italic/Didot LT Std Italic.otf");
}

.overlay-text{
    color: white;
    opacity: 1;
    font-family: 'Didot';
}

.multi-item-carousel {
    overflow: hidden;
}

.multi-item-carousel .carousel-indicators {
    margin-right: 25%;
    margin-left: 25%;
}
.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
    background: rgba(255, 255, 255, 0.3);
    width: 25%;
}

.multi-item-carousel .carousel-inner {
    width: 150%;
    left: -25%;
}

.multi-item-carousel .carousel-item-next:not(.carousel-item-left),
.multi-item-carousel .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}

.multi-item-carousel .carousel-item-prev:not(.carousel-item-right),
.multi-item-carousel .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
}

.multi-item-carousel .item__third {
    float: left;
    position: relative;
    width: 33.33333333%;
}

@media (min-width: 576px) {
    p{
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    p{
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    p{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    p{
        font-size: 15px;
    }
}
